  <%- include ../head.ejs %>  
    <title>Confirmation</title>
  </head>
  <body>
    <header>
      <nav>
        <ul id='navmenu'>
          
          <a href="/featureditems">Home</a>
          <a href="/featureditems/new">Sell</a>
          <a href="/profile/<%=userId%>"><%=username%></a>
          <a href="/auth/logout">Logout</a>
        </ul>
      </nav>
    </header>
    <h1>Purchase confirmed! Thanks for Haggling!</h1>
      <div class="purchasedItemBox">
        <p>
          <h1><%=item.title%> for $<%=item.price%></h1>
        </p>
        <hr>
        
        <img src="https://di-uploads-pod5.dealerinspire.com/autocitysd/uploads/2016/11/goautocity-54color-1024x576.jpg" alt="haggle" style= width:600px;height450px>
        <br/>
        
      <section>
        <form action = "/featureditems/">
          <button type="submit">Haggle some more!</button>
        </form>
      </section>
      </div>
      
      
  </body>
</html>
