<%- include ../head.ejs %>
</head>
<body>
	<header>
		<nav>
			<ul id='navmenu'>
				
				<a href="/featureditems">Home</a>
				<a href="/featureditems/new">Sell</a>
				<a href="/profile/<%=userId%>"><%=username%></a>
				<a href="/auth/logout">Logout</a>
			</ul>
		</nav>
	</header>
	<div class="container" class="text-center" class="form-group">
		<br/>
		<h1>Edit <%=item.title%></h1>
		<hr>
		<form action= "/featureditems/<%=item.id%>?_method=PUT" method="POST">

			<input type="text" name="title" value="<%=item.title%>" class="form-control"><br/>

			<input type="text" name="seller" value="<%=item.seller%>" class="form-control" readonly><br/>

			<input type="number" name="price" value="<%=item.price%>" class="form-control"><br/>


            <input type="text" name="image" value="<%=item.image%>" class="form-control"><br/>
             
            <textarea type="text" name="description" value="<%=item.description%>" class="form-control">
            </textarea><br/>


			<button type="submit"> Update Item </button>
		</form>
	</div>	
</body>
</html>
