<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<nav>
			<ul id='navmenu'>
				<a href="/featureditems">Home</a>
				<a href="/featureditems/new">Sell</a>
				<a href="/profile/<%=userId%>">Profile</a>
				<a href="/auth/logout">Logout</a>
			</ul>
		</nav>
	</header>
	<h1>Edit <%=item.title%></h1>
	<form action= "/featureditems/<%=item.id%>?_method=PUT" method="POST">


	<input type="text" name="title" value="<%=item.title%>"><br/>

	<input type="text" name="seller" value="<%=item.seller%>" readonly><br/>

	<input type="number" name="price" value="<%=item.price%>"><br/>

	<input type="text" name="image" value="<%=item.image%>"><br/>
	 
	<textarea type="text" name="description" value="<%=item.description%>">
	</textarea><br/>

	<button type="submit"> Update Item </button>
	</form>

</body>
</html>
