<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ../head.ejs %>
    <meta charset="utf-8">
    <title>Haggle</title>
  </head>

  <body>
    <header>
      <nav>
        <ul id='navmenu'>
          <a href="/featureditems">Home</a>
          <a href="/featureditems/new">Sell</a>
          <a href="/profile/<%=userId%>"><%=username%></a>
          <a href="/auth/logout">Logout</a>
        </ul>
      </nav>
    </header>
      <h1><p>Welcome to Haggle!</p></h1>


        <section>
          <div class="container">
            <h3>
              <a href="/featureditems/sports" id="Sports">Sports</a>
              <a href="/featureditems/electronics" id="Electronics">Electronics</a>
              <a href="/featureditems/home" id="Home">Home</a>
              <a href="/featureditems/miscellaneous">Miscellaneous</a>
            </h3> 
          </div> 
          <br/>
        </section>


<!--   <div class="container">
    <div class="row"> -->
    <main>
      <div class="container">
      <ul class="list-unstyled">
        <% for (let i = 0; i < items.length; i++){%>

             <li><h4>
              <a href="/featureditems/<%=items[i]._id%>">
              <%=items[i].title %>
             </a>
              </h4></li>
             <li><h4>$<%=items[i].price %></h4></li>

             <div class="featuredphotos">
             <li><img src="<%=items[i].image%>" class="featuredimage" style= width:150px;height200px></li>
             </div>
             <br/><hr>
        <%}%>
      </ul>
<!--     </div>
  </div>  --> 
      </div>
    </main>
  </body>
</html>
