<!DOCTYPE html>
<html lang="en" dir="ltr">
  
    <%- include ../head.ejs %>
    <meta charset="utf-8">
    <title>Haggle</title>
  </head>

  
  <body>
    <header>
      <nav>
        <ul id='navmenu'>
          <a href="/featureditems">Home</a>
          <a href="/featureditems/new">Sell</a>
          <a href="/profile/<%=userId%>">Profile</a>
          <a href="/auth/logout">Logout</a>
        </ul>
      </nav>
    </header>
    <h1>Main</h1>
    <section class="sidebar">
      <div id="mySidenav" class="sidenav">
        <a href="#" id="Sports">Sports</a>
        <a href="#" id="Electronics">Electronics</a>
        <a href="#" id="Home">Home</a>
        <a href="#" id="Automotive">Automotive</a>
      </div>

    </section>
    <main>
      <p>This will be our main page!!</p>

      <ul>
        <% for (let i = 0; i < items.length; i++){%>
             <li>
              <a href="/featureditems/<%=items[i]._id%>">
              <%=items[i].title %>
             </a></li>
             <li>$<%=items[i].price %></li>
             <li><%=items[i].description %></li><br/>
        <%}%>
      </ul>

    </main>
  </body>
</html>
