<!DOCTYPE html>
<html>
<head>

	<%- include ../head.ejs %>
	<title> Haggle </title>
</head>
<body>

	<header>
		<nav>
			<ul id='navmenu'>
				<a href="/featureditems">Home</a>
				<a href="/featureditems/new">Sell</a>
				<a href="/profile/<%=userId%>">Profile</a>
				<a href="/auth/logout">Logout</a>
			</ul>
		</nav>
	</header>
	<title></title>
	<h1>Item Name</h1>

	<h3><%=item.title%></h3>
	<h4><%=item.seller%></h4>
	<h3>$<%=item.price%></h3>
	<img src="<%=item.image%>" style= width:225px;height300px>
	<h3><%=item.description%></h3>


	<% if(item.seller === username) {%>
	<section>
		<a href="/featureditems/<%=item.id%>/edit">Edit</a>
	</section>

	<section>
		<form action = "/featureditems/<%= item.id%>?_method=DELETE" method="POST">
			<button type="submit">Delete Listing</button>
		</form>
	</section>
	<%} else {%>
		<a href="/featureditems/buy" class= "btn btn-info" role="button" >Buy</a>

		<!-- <form action = "/featureditems/<%= item.id%>?_method=POST/buy" method="POST">
			<button type="submit">Buy Now!</button>
		</form> -->

	<%}%>

</body>
</html>
