<!DOCTYPE html>
<html>
<head>
	<title></title>
	<h1>Item Name</h1>

<h3><%=item.title%></h3>
<h3>$<%=item.price%></h3>
<h3><%=item.description%></h3>

   <section>
      <a href="/featureditems/<%=item.id%>/edit">Edit</a>
   </section>

   <section>
   	<form action = "/featureditems/<%= item.id%>?_method=DELETE" method="POST">
   	<button type="submit">Delete Listing</button>	
   	</form>
   </section>

</head>
<body>

</body>
</html>