<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sports Items</title>
  </head>
  <body>
    <header>
      <nav>
        <ul id='navmenu'>
          <a href="/featureditems">Home</a>
          <a href="/featureditems/new">Sell</a>
          <a href="/profile/<%=userId%>"><%=username%></a>
          <a href="/auth/logout">Logout</a>
        </ul>
      </nav>
    </header>
    <h1>Sports Items</h1>
    <ul>
      <% for (let i = 0; i < items.length; i++){%>
        <% if (items[i].category === 'sports') { %>
           <li>
            <a href="/featureditems/<%=items[i].id%>">
            <%=items[i].title %>
           </a></li>
           <li>$<%=items[i].price %></li>
           <img src="<%=items[i].image%>" style= width:225px;height300px>
           <li><%=items[i].description %></li><br/>
       <% } %>
      <%}%>
    </ul>

  </body>
</html>
