<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Haggle - Profile</title>
    <%- include ../head.ejs %>
  </head>
  <body>
    <header>
      <nav>
        <ul id='navmenu'>
          <a href="/featureditems">Home</a>
          <a href="/featureditems/new">Sell</a>
          <a href="/profile/<%=userId%>"><%=username%></a>
          <a href="/auth/logout">Logout</a>
        </ul>
      </nav>
    </header>
    <h1><%=username%>'s profile </h1>
    <div class="border">
    <ul id='profilenav'>
      <br/>
      <div class="editprofile">
        <a href="/profile/<%=userId%>/edit" class="btn btn-info">Change Name</a>
      </div>
      <div class="editprofile">
        <a href="/profile/<%=userId%>/edit" class="btn btn-success">Change Username</a>
      </div>
      <div class="editprofile">
        <a href="/profile/<%=userId%>/edit" class="btn btn-info">Change Email Address</a>
      </div>
      <div class="editprofile">
        <a href="/profile/<%=userId%>/edit" class="btn btn-success">Change Payment Info</a>
      </div>
      </div>
    </ul>
    </div>
  </body>
</html>
